
{% extends 'base.html' %}

{% block content %}
  <div class="row">
    {% for book in books %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">Author: {{ book.author }}</p>
            <p class="card-text">Genre: {{ book.genre }}</p>
            <p class="card-text">{{ book.description }}</p>
            <form action="{{ url_for('main.borrow_book', book_id=book.id) }}" method="POST">
              <button type="submit" class="btn btn-primary">Borrow</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
